body {
  padding: 25px;
  text-align: center;
}

* {
  font-family: 'Varela Round', serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
  text-align: center;
}

table {
  display: inline-table;
}

input {
  width: 15vw;
}

.title {
  color: #5c6ac4;
}

img {
  height: 10vh;
}