body {
    padding: 25px;
    text-align: center;
}

* {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    text-align: center;
}

input {
    width: 15vw;
}

.title {
    color: #5C6AC4;
}

img {
    height: 10vh;
}